{
  email {$CADDY_EMAIL}
}

import /etc/caddy/routes/*.caddy

{$CADDY_BASE_DOMAIN:localhost} {
  log {
    output stdout
    format json
  }

  encode zstd gzip

  handle /api/* {
    reverse_proxy api:3001 {
      trusted_proxies private_ranges
    }
  }

  handle /metrics* {
    reverse_proxy prometheus:9090
  }

  redir /grafana /grafana/

  handle /grafana/* {
    reverse_proxy grafana:3000
  }

  handle {
    reverse_proxy web:3000
  }
}

http:// {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:3001 {
      trusted_proxies private_ranges
    }
  }

  handle /metrics* {
    reverse_proxy prometheus:9090
  }

  redir /grafana /grafana/

  handle /grafana/* {
    reverse_proxy grafana:3000
  }

  handle {
    reverse_proxy web:3000
  }
}
